/node_modules/
/name_server/node_modules
/name_server/.env
/public/build/

.DS_Store

# Data files too large for github storage
/public/data/rivers_full_detail.json
/public/data/detailed_rivers_streams.json
/public/data/flowrates.json

# Data files too large for github storage
# Original VAA .parquet file can be found here: https://www.hydroshare.org/resource/6092c8a62fac45be97a09bfd0b0bf726/
# and can be converted using the parse_vaa_data.py script in the data_processing directory
/data_processing/data/simplified_rivers.geojson
/data_processing/data/comid_vaa_mapping.json
/data_processing/data/comid_vaa_mapping.csv
/data_processing/data/nhdplusVAA.parquet

# This raw file is too big for the repo, but is a converted datafile (via mapshaper) to be used for stopping features
# Original shapefile can be found here: https://hub.arcgis.com/datasets/esri::usa-detailed-water-bodies?geometry=167.943%2C22.299%2C-35.172%2C47.182
# /data_processing/data/water_bodies.geojson

package-lock.json
*/package-lock.json